__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
__pypackages__/

# Test cache
.pytest_cache/
pytest-cache-files-*/
pytest-*

# Log files
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore